# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws
*.pycharm_helpers/
*.DS_Store

# Logs and temporary files
src/logs
*.log
*.tmp
*.temp

# Dependency directories
lib/
libs/
bin/
include/
build/
dist/

# Compiled files
*.class
*.jar
*.war

# User-specific files
*.bak
*.swp
*.swo
*~

# Database files
*.db
*.sqlite

# Miscellaneous
.vscode/
*.idea_modules/
*.DS_Store

# Environment configuration
.env
.env.*



#personal code and test folder
private/
